<div class="header">
  <div class="container mt-4 header-inner">
    <h1>
      <a class="title text-dark" href="./"><%= config.title %></a>
    </h1>

    <p class="describe"><%= config.subtitle %></p>
  </div>
</div>