<span class="controller">
    <!-- <i class="fa fa-plus" aria-hidden="true"></i> -->
    <i class="fa fa-times" aria-hidden="true"></i>
</span>
<div class="pl-0 pr-0 pt-4 sidebar">
  <div class="pl-4 pr-4 pb-4 sidebar-inner">
    <a href="/" class="d-flex justify-content-center">
      <img src="/images/avatar.png">
    </a>
    <div class="category mb-5">
      <div class="mt-2 pb-2 category-title">
        <i class="fa fa-user" aria-hidden="true"></i>
        <span>介绍</span>
      </div>
      <div class="category-list mt-2">
        前端菜鸟
      </div>
    </div>
    <div class="category  mb-5">
      <div class="mt-2 pb-2 category-title">
        <i class="fa fa-tags" aria-hidden="true"></i>
        <span>标签</span>
      </div>
      <div class="category-list mt-2">
        <a href="#" class="entry">webpack</a>
        <a href="#" class="entry">vue</a>
        <a href="#" class="entry">es6</a>
        <a href="#" class="entry">react</a>
        <a href="#" class="entry">hexo</a>
        <a href="#" class="entry">网络</a>
      </div>
    </div>
  </div>
</div>