<div class="index-header">
  <div class="container mt-4 header-inner">
    <h1>
      <a class="title">大康</a>
    </h1>

    <p class="describe">我的博客</p>
  </div>
</div>
<div class="container index-main mt-4">
  <div class="row">
    <div class="col-12 col-md-9 content">
      <ul class="mb-4">
        <li class="card border-0 ">
          <div class="card-body pl-0">
            <h4 class="card-title">
              <a href="./">lalaa</a>
            </h4>
            <p class="mb-2">
              <i class="fa fa-calendar" aria-hidden="true"></i> 2017年09月02日
            </p>
            <p class="card-text">在一个秋日的周末睡了整整一天，一睁眼竟已是傍晚。不知道刚刚过去的五天工作日中到底消耗了多少精力，亏欠了多少睡眠。很久没有睡得如此昏天黑地而心满意足了——不知从何时开始，本可以肆无忌惮地懒觉的时候，却总是过早惊醒，意犹未尽。听说人老了就会醒得很早，这让我感到惶恐。我宁愿每天叫醒我的不是梦想，而是闹钟。</p>
            <a class="btn btn-outline-secondary float-right" href="#" role="button">阅读全文</a>
          </div>
        </li>
        <li class="card border-0 ">
          <div class="card-body pl-0">
            <h4 class="card-title">
              <a href="./">lalaa</a>
            </h4>
            <p class="mb-2">
              <i class="fa fa-calendar" aria-hidden="true"></i> 2017年09月02日
            </p>
            <p class="card-text">在一个秋日的周末睡了整整一天，一睁眼竟已是傍晚。不知道刚刚过去的五天工作日中到底消耗了多少精力，亏欠了多少睡眠。很久没有睡得如此昏天黑地而心满意足了——不知从何时开始，本可以肆无忌惮地懒觉的时候，却总是过早惊醒，意犹未尽。听说人老了就会醒得很早，这让我感到惶恐。我宁愿每天叫醒我的不是梦想，而是闹钟。</p>
            <a class="btn btn-outline-secondary float-right" href="#" role="button">阅读全文</a>
          </div>
        </li>
        <li class="card border-0 ">
          <div class="card-body pl-0">
            <h4 class="card-title">
              <a href="./">lalaa</a>
            </h4>
            <p class="mb-2">
              <i class="fa fa-calendar" aria-hidden="true"></i> 2017年09月02日
            </p>
            <p class="card-text">在一个秋日的周末睡了整整一天，一睁眼竟已是傍晚。</p>
            <a class="btn btn-outline-secondary float-right" href="#" role="button">阅读全文</a>
          </div>
        </li>
      </ul>

      <div class="page-navigator">
        <%- paginator({prev_text:'<i class="fa fa-angle-double-left" aria-hidden="true"></i>上一页',next_text:'下一页<i class="fa fa-angle-double-right" aria-hidden="true"></i>',total:8,current:3}) %>
      </div>

    </div>
    <div class="col-md-3 pl-0 pr-0 sidebar">
      <div class="pl-4 pr-4 pb-4 sidebar-inner">
        <div class="d-flex justify-content-center">
          <img src="/images/avatar.png">
        </div>
        <div class="category mb-5">
          <div class="mt-2 pb-2 category-title">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span>介绍</span>
          </div>
          <div class="category-list mt-2">
            前端菜鸟
          </div>
        </div>
        <div class="category  mb-5">
          <div class="mt-2 pb-2 category-title">
            <i class="fa fa-tags" aria-hidden="true"></i>
            <span>标签</span>
          </div>
          <div class="category-list mt-2">
            <a href="#" class="entry">webpack</a>
            <a href="#" class="entry">vue</a>
            <a href="#" class="entry">es6</a>
            <a href="#" class="entry">react</a>
            <a href="#" class="entry">hexo</a>
            <a href="#" class="entry">网络</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>