body {
  font-family: "PingFangSC-Regular", Helvetica, "Helvetica Neue", "Segoe UI", "Hiragino Sans GB", "Source Han Sans CN", "Microsoft YaHei", "STHeiti", "WenQuanYi Micro Hei", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  color: #444;
  padding-bottom: 0 !important;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #6E7173; }
  a:hover {
    text-decoration: none;
    color: #6E7173; }

.header .header-inner {
  border-bottom: 1px solid #e9ecef; }
  @media (max-width: 768px) {
    .header .header-inner {
      text-align: center; } }
  .header .header-inner .describe {
    color: #999; }

.main {
  position: relative; }
  .main .content .card-title a {
    color: #555; }
    .main .content .card-title a:hover {
      text-decoration: none; }
  .main .content .card-text {
    color: #444; }
    .main .content .card-text .post-excerpt * {
      display: inline !important;
      font-size: 1rem !important; }
    .main .content .card-text .post-excerpt img {
      display: none !important; }
  .main .content .page-navigator {
    border-top: 1px solid #ddd;
    list-style: none;
    padding: 1.8rem 1.25rem 2.5rem 0;
    text-align: center; }
    .main .content .page-navigator .page-number {
      margin: 0 5px 5px 0; }
    .main .content .page-navigator .space {
      margin: 0 5px 5px 0;
      border: none; }
    .main .content .page-navigator .current {
      background: #F8F8F8; }
    .main .content .page-navigator span,
    .main .content .page-navigator a {
      display: inline-block;
      line-height: 1.8;
      padding: 0.2rem 0.7rem;
      border: 1px solid #DDD;
      text-align: center; }
      .main .content .page-navigator span.prev,
      .main .content .page-navigator a.prev {
        float: left; }
      .main .content .page-navigator span.next,
      .main .content .page-navigator a.next {
        float: right; }
      .main .content .page-navigator span:hover,
      .main .content .page-navigator a:hover {
        background: #F8F8F8; }
  @media (max-width: 768px) {
    .main .controller,
    .main .sidebar {
      display: none; } }
  .main.shrink .sidebar {
    width: 0; }
  .main.shrink .controller {
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg); }
  .main .controller {
    position: absolute;
    right: 1rem;
    top: 0;
    font-size: 20px;
    transition: all 0.4s;
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg); }
  .main .sidebar {
    transition: all 0.4s;
    overflow: hidden;
    width: 25%; }
    .main .sidebar .sidebar-inner {
      border-left: 1px solid #e9ecef;
      position: relative; }
    .main .sidebar .category-title {
      border-bottom: 1px solid #e9ecef; }
    .main .sidebar .category-list .entry {
      color: #555;
      line-height: 1.5;
      padding: 5px; }
      .main .sidebar .category-list .entry:hover {
        text-decoration: none; }

#article {
  padding-bottom: 2rem;
  /* syntax highlight*/ }
  #article h1,
  #article h2,
  #article h3,
  #article h4,
  #article h5,
  #article h6 {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1.4;
    cursor: text; }
  #article h1 {
    padding-bottom: .3em;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid #eee; }
  #article h2 {
    padding-bottom: .3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee; }
  #article h3 {
    font-size: 1.5em;
    line-height: 1.43; }
  #article h4 {
    font-size: 1.25em; }
  #article h5 {
    font-size: 1em; }
  #article h6 {
    font-size: 1em;
    color: #777; }
  #article a {
    color: #4183C4; }
  #article img {
    max-width: 100%; }
  #article p {
    margin: 0.8em 0; }
  #article ul,
  #article ol {
    padding-left: 30px;
    margin: 0.8em 0;
    list-style: none; }
    #article ul li,
    #article ol li {
      position: relative; }
      #article ul li:before,
      #article ol li:before {
        content: "";
        width: 6px;
        height: 6px;
        border: 1px solid #565252;
        border-radius: 100%;
        background: #7d7979;
        display: inline-block;
        position: absolute;
        left: -1rem;
        top: 0.6rem; }
  #article blockquote {
    border-left: 5px solid #ccc;
    padding: 15px 20px;
    margin-top: 10px;
    border-left: 5px solid #657b83;
    background: #f6f6f6; }
  #article figure.highlight,
  #article .codeblock {
    background: #f3f3f3;
    margin: 10px 0;
    line-height: 1.1em;
    color: #333;
    overflow: auto; }
    #article figure.highlight table,
    #article .codeblock table {
      display: block;
      width: 100%; }
    #article figure.highlight pre,
    #article figure.highlight .gutter,
    #article figure.highlight .code,
    #article figure.highlight .tag,
    #article .codeblock pre,
    #article .codeblock .gutter,
    #article .codeblock .code,
    #article .codeblock .tag {
      background-color: inherit;
      font-family: Menlo, Consolas, monospace;
      border: none;
      padding: 0;
      margin: 0;
      cursor: text; }
    #article figure.highlight .gutter,
    #article figure.highlight .code,
    #article .codeblock .gutter,
    #article .codeblock .code {
      vertical-align: top; }
    #article figure.highlight.plain .gutter,
    #article .codeblock.plain .gutter {
      display: none; }
    #article figure.highlight figcaption,
    #article .codeblock figcaption {
      font-size: 13px;
      padding: 0 15px 20px;
      margin: 0;
      background: #f3f3f3;
      color: #999999; }
      #article figure.highlight figcaption a,
      #article .codeblock figcaption a {
        float: right;
        color: #01579f; }
    #article figure.highlight .gutter,
    #article .codeblock .gutter {
      background: #f3f3f3;
      border-right: 1px solid #cac4c4;
      padding: 0.3em 15px; }
      #article figure.highlight .gutter .line,
      #article .codeblock .gutter .line {
        color: #aaaaaa; }
    #article figure.highlight .code,
    #article .codeblock .code {
      padding: 0.3em 15px 0.3em 1em;
      width: 100%; }
      #article figure.highlight .code pre,
      #article .codeblock .code pre {
        max-width: 700px;
        overflow-x: auto;
        overflow-y: hidden; }
    #article figure.highlight .line,
    #article .codeblock .line {
      height: 1.3em;
      font-size: 13px; }
  #article .gist .line,
  #article .gist .line-number {
    font-family: Menlo, Consolas, monospace;
    font-size: 1em;
    margin: 0 0 5px 0; }
  #article .highlight table {
    margin: 0.8em 0; }
  #article .highlight .comment {
    color: #969896; }
  #article .highlight .string {
    color: #183691; }
  #article .highlight .keyword {
    color: #a71d5d; }
  #article .highlight.apacheconf .code .common,
  #article .highlight.apacheconf .code .nomarkup,
  #article .highlight.apacheconf .code .attribute,
  #article .highlight.apacheconf .code .variable,
  #article .highlight.apacheconf .code .cbracket,
  #article .highlight.apacheconf .code .keyword {
    color: #0086b3; }
  #article .highlight.apacheconf .code .sqbracket {
    color: #df5000; }
  #article .highlight.apacheconf .code .section,
  #article .highlight.apacheconf .code .tag {
    color: #63a35c; }
  #article .highlight.bash .code .shebang {
    color: #969896; }
  #article .highlight.bash .code .literal,
  #article .highlight.bash .code .built_in {
    color: #0086b3; }
  #article .highlight.bash .code .variable {
    color: #333; }
  #article .highlight.bash .code .title {
    color: #795da3; }
  #article .highlight.coffeescript .code .title {
    color: #795da3; }
  #article .highlight.coffeescript .code .literal,
  #article .highlight.coffeescript .code .built_in,
  #article .highlight.coffeescript .code .number {
    color: #0086b3; }
  #article .highlight.coffeescript .code .reserved,
  #article .highlight.coffeescript .code .attribute {
    color: #1d3e81; }
  #article .highlight.coffeescript .code .subst,
  #article .highlight.coffeescript .code .regexp,
  #article .highlight.coffeescript .code .attribute {
    color: #df5000; }
  #article .highlight.cpp .code .preprocessor,
  #article .highlight.c .code .preprocessor {
    color: #df5000; }
  #article .highlight.cpp .code .meta-keyword,
  #article .highlight.c .code .meta-keyword {
    color: #a71d5d; }
  #article .highlight.cpp .code .title,
  #article .highlight.c .code .title {
    color: #795da3; }
  #article .highlight.cpp .code .number,
  #article .highlight.cpp .code .built_in,
  #article .highlight.c .code .number,
  #article .highlight.c .code .built_in {
    color: #0086b3; }
  #article .highlight.cs .code .preprocessor,
  #article .highlight.cs .code .preprocessor .keyword {
    color: #333; }
  #article .highlight.cs .code .title {
    color: #795da3; }
  #article .highlight.cs .code .number,
  #article .highlight.cs .code .built_in {
    color: #0086b3; }
  #article .highlight.cs .code .xmlDocTag,
  #article .highlight.cs .code .doctag {
    color: #63a35c; }
  #article .highlight.css .code .at_rule,
  #article .highlight.css .code .important,
  #article .highlight.css .code .meta {
    color: #a71d5d; }
  #article .highlight.css .code .attribute,
  #article .highlight.css .code .hexcolor,
  #article .highlight.css .code .number,
  #article .highlight.css .code .function {
    color: #0086b3; }
  #article .highlight.css .code .attr_selector,
  #article .highlight.css .code .value {
    color: #333; }
  #article .highlight.css .code .id,
  #article .highlight.css .code .class,
  #article .highlight.css .code .pseudo,
  #article .highlight.css .code .selector-pseudo {
    color: #795da3; }
  #article .highlight.css .code .tag,
  #article .highlight.css .code .selector-tag {
    color: #63a35c; }
  #article .highlight.diff .code .chunk,
  #article .highlight.diff .code .meta {
    color: #795da3;
    font-weight: bold; }
  #article .highlight.diff .code .addition {
    color: #55a532;
    background-color: #eaffea; }
  #article .highlight.diff .code .deletion {
    color: #bd2c00;
    background-color: #ffecec; }
  #article .highlight.http .code .attribute,
  #article .highlight.http .code .attr {
    color: #183691; }
  #article .highlight.http .code .literal {
    color: #0086b3; }
  #article .highlight.http .code .request {
    color: #a71d5d; }
  #article .highlight.ini .code .title,
  #article .highlight.ini .code .section {
    color: #795da3; }
  #article .highlight.ini .code .setting,
  #article .highlight.ini .code .attr {
    color: #a71d5d; }
  #article .highlight.ini .code .value,
  #article .highlight.ini .code .keyword {
    color: #333; }
  #article .highlight.java .code .title {
    color: #795da3; }
  #article .highlight.java .code .javadoc {
    color: #969896; }
  #article .highlight.java .code .meta,
  #article .highlight.java .code .annotation,
  #article .highlight.java .code .javadoctag {
    color: #a71d5d; }
  #article .highlight.java .code .number {
    color: #0086b3; }
  #article .highlight.java .code .params {
    color: #1d3e81; }
  #article .highlight.javascript .code .built_in,
  #article .highlight.javascript .code .title {
    color: #795da3; }
  #article .highlight.javascript .code .javadoc {
    color: #969896; }
  #article .highlight.javascript .code .tag,
  #article .highlight.javascript .code .javadoctag {
    color: #a71d5d; }
  #article .highlight.javascript .code .tag .title {
    color: #333; }
  #article .highlight.javascript .code .regexp {
    color: #df5000; }
  #article .highlight.javascript .code .literal,
  #article .highlight.javascript .code .number {
    color: #0086b3; }
  #article .highlight.json .code .attribute {
    color: #183691; }
  #article .highlight.json .code .number,
  #article .highlight.json .code .literal {
    color: #0086b3; }
  #article .highlight.mak .code .constant {
    color: #333; }
  #article .highlight.mak .code .title {
    color: #795da3; }
  #article .highlight.mak .code .keyword,
  #article .highlight.mak .code .meta-keyword {
    color: #0086b3; }
  #article .highlight.md .code .value,
  #article .highlight.md .code .link_label,
  #article .highlight.md .code .strong,
  #article .highlight.md .code .emphasis,
  #article .highlight.md .code .blockquote,
  #article .highlight.md .code .quote,
  #article .highlight.md .code .section {
    color: #183691; }
  #article .highlight.md .code .link_reference,
  #article .highlight.md .code .symbol,
  #article .highlight.md .code .code {
    color: #0086b3; }
  #article .highlight.md .code .link_url,
  #article .highlight.md .code .link {
    text-decoration: underline; }
  #article .highlight.nginx .code .title,
  #article .highlight.nginx .code .attribute {
    color: #a71d5d; }
  #article .highlight.nginx .code .built_in,
  #article .highlight.nginx .code .literal {
    color: #0086b3; }
  #article .highlight.nginx .code .regexp {
    color: #183691; }
  #article .highlight.nginx .code .variable {
    color: #333; }
  #article .highlight.objectivec .code .preprocessor,
  #article .highlight.objectivec .code .meta {
    color: #a71d5d; }
    #article .highlight.objectivec .code .preprocessor .title,
    #article .highlight.objectivec .code .meta .title {
      color: #df5000; }
  #article .highlight.objectivec .code .meta-string {
    color: #183691; }
  #article .highlight.objectivec .code .title {
    color: #795da3; }
  #article .highlight.objectivec .code .literal,
  #article .highlight.objectivec .code .number,
  #article .highlight.objectivec .code .built_in {
    color: #0086b3; }
  #article .highlight.perl .code .sub {
    color: #795da3; }
  #article .highlight.perl .code .title {
    color: #795da3; }
  #article .highlight.perl .code .regexp {
    color: #df5000; }
  #article .highlight.php .code .phpdoc,
  #article .highlight.php .code .doctag {
    color: #a71d5d; }
  #article .highlight.php .code .regexp {
    color: #df5000; }
  #article .highlight.php .code .literal,
  #article .highlight.php .code .number {
    color: #0086b3; }
  #article .highlight.php .code .title {
    color: #795da3; }
  #article .highlight.python .code .decorator,
  #article .highlight.python .code .title,
  #article .highlight.python .code .meta {
    color: #795da3; }
  #article .highlight.python .code .number {
    color: #0086b3; }
  #article .highlight.ruby .code .parent,
  #article .highlight.ruby .code .title {
    color: #795da3; }
  #article .highlight.ruby .code .prompt,
  #article .highlight.ruby .code .constant,
  #article .highlight.ruby .code .number,
  #article .highlight.ruby .code .subst .keyword,
  #article .highlight.ruby .code .symbol {
    color: #0086b3; }
  #article .highlight.sql .built_in {
    color: #a71d5d; }
  #article .highlight.sql .number {
    color: #0086b3; }
  #article .highlight.xml .tag {
    color: #333; }
  #article .highlight.xml .value {
    color: #183691; }
  #article .highlight.xml .attribute,
  #article .highlight.xml .attr {
    color: #795da3; }
  #article .highlight.xml .title,
  #article .highlight.xml .name {
    color: #63a35c; }
  #article .highlight.puppet .title {
    color: #795da3; }
  #article .highlight.puppet .function {
    color: #0086b3; }
  #article .highlight.puppet .name {
    color: #a71d5d; }
  #article .highlight.puppet .attr {
    color: #0086b3; }
  #article .highlight.less .tag,
  #article .highlight.less .at_rule {
    color: #a71d5d; }
  #article .highlight.less .number,
  #article .highlight.less .hexcolor,
  #article .highlight.less .function,
  #article .highlight.less .attribute {
    color: #0086b3; }
  #article .highlight.less .built_in {
    color: #df5000; }
  #article .highlight.less .id,
  #article .highlight.less .pseudo,
  #article .highlight.less .class,
  #article .highlight.less .selector-id,
  #article .highlight.less .selector-class,
  #article .highlight.less .selector-tag {
    color: #795da3; }
  #article .highlight.scss .tag,
  #article .highlight.scss .at_rule,
  #article .highlight.scss .important {
    color: #a71d5d; }
  #article .highlight.scss .number,
  #article .highlight.scss .hexcolor,
  #article .highlight.scss .function,
  #article .highlight.scss .attribute {
    color: #0086b3; }
  #article .highlight.scss .variable {
    color: #333; }
  #article .highlight.scss .built_in {
    color: #df5000; }
  #article .highlight.scss .id,
  #article .highlight.scss .pseudo,
  #article .highlight.scss .class,
  #article .highlight.scss .preprocessor,
  #article .highlight.scss .selector-class,
  #article .highlight.scss .selector-id {
    color: #795da3; }
  #article .highlight.scss .tag,
  #article .highlight.scss .selector-tag {
    color: #63a35c; }
  #article .highlight.stylus .at_rule {
    color: #a71d5d; }
  #article .highlight.stylus .tag,
  #article .highlight.stylus .selector-tag {
    color: #63a35c; }
  #article .highlight.stylus .number,
  #article .highlight.stylus .hexcolor,
  #article .highlight.stylus .attribute,
  #article .highlight.stylus .params {
    color: #0086b3; }
  #article .highlight.stylus .class,
  #article .highlight.stylus .id,
  #article .highlight.stylus .pseudo,
  #article .highlight.stylus .title,
  #article .highlight.stylus .selector-id,
  #article .highlight.stylus .selector-pseudo,
  #article .highlight.stylus .selector-class {
    color: #795da3; }
  #article .highlight.go .typename {
    color: #a71d5d; }
  #article .highlight.go .built_in,
  #article .highlight.go .constant {
    color: #0086b3; }
  #article .highlight.swift .preprocessor {
    color: #a71d5d; }
  #article .highlight.swift .title {
    color: #795da3; }
  #article .highlight.swift .built_in,
  #article .highlight.swift .number,
  #article .highlight.swift .type {
    color: #0086b3; }
  #article .highlight.yml .line,
  #article .highlight.yml .attr {
    color: #63a35c; }
  #article .highlight.yml .line,
  #article .highlight.yml .string,
  #article .highlight.yml .type,
  #article .highlight.yml .literal,
  #article .highlight.yml .meta {
    color: #183691; }
  #article .highlight.yml .number {
    color: #0086b3; }
  #article .title {
    text-align: center;
    border-bottom: none; }
  #article .navigator {
    overflow: hidden;
    border-top: 1px solid gray;
    padding-top: 1rem;
    margin-top: 3rem; }
    #article .navigator a {
      display: inline-block;
      padding: 0.5rem 0.8rem;
      border: 1px solid gray;
      color: #818182; }
      #article .navigator a:hover {
        color: #fff;
        background-color: #17a2b8;
        border: 1px solid #17a2b8; }
    #article .navigator .prev {
      float: left; }
    #article .navigator .next {
      float: right; }
