// @media (min-width: 1384px) {
//   .container {
//     max-width: 1344px;
//   }
// }
#article {
  .title {
    text-align: center;
    border-bottom: none;
  }
  @import './_partial/markdown';
}

body {
  font-family: "PingFangSC-Regular", Helvetica, "Helvetica Neue", "Segoe UI", "Hiragino Sans GB", "Source Han Sans CN", "Microsoft YaHei", "STHeiti", "WenQuanYi Micro Hei", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  color: #444;
  padding-bottom: 0 !important;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #6E7173;
  &:hover {
    text-decoration: none;
    color: #6E7173;
  }
}

.header {
  .header-inner {
    @media (max-width: 768px) {
      text-align: center;
    }
    border-bottom: 1px solid #e9ecef;
    .describe {
      color: #999;
    }
  }
}

.main {
  position: relative;
  .content {
    .card-title a {
      color: #555;
      &:hover {
        text-decoration: none;
      }
    }
    .card-text {
      color: #444;
      .post-excerpt {
        * {
          display: inline !important;
          font-size: 1rem !important;
        }
      }
    }
    .page-navigator {
      border-top: 1px solid #ddd;
      list-style: none;
      padding: 1.8rem 1.25rem 2.5rem 0; // font-size: 14px;
      text-align: center;
      .page-number {
        margin: 0 5px 5px 0;
      }
      .space {
        margin: 0 5px 5px 0;
        border: none;
      }
      .current {
        background: #F8F8F8;
      }
      span,
      a {
        display: inline-block; // height: 25px;
        line-height: 1.8;
        padding: 0.2rem 0.7rem;
        border: 1px solid #DDD;
        text-align: center;
        &.prev {
          float: left;
        }
        &.next {
          float: right;
        }
        &:hover {
          background: #F8F8F8;
        }
      }
    }
  }
  @media (max-width: 768px) {
    .controller,
    .sidebar {
      display: none;
    }
  }
  &.shrink {
    .sidebar {
      width: 0;
    }
    .controller {
      transform: rotateZ(-45deg);
    }
  }
  .controller {
    position: absolute;
    right: 1rem; // top: -1rem;
    top: 0;
    font-size: 20px;
    transition: all 0.4s;
    transform: rotateZ(0deg);
  }
  .sidebar {
    transition: all 0.4s;
    overflow: hidden;
    width: 25%;
    .sidebar-inner {
      border-left: 1px solid #e9ecef;
      position: relative;
    }
    .category-title {
      border-bottom: 1px solid #e9ecef;
    }
    .category-list {
      .entry {
        color: #555;
        line-height: 1.5;
        padding: 5px;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}